body {
  font-family: 'Helvetica', arial, sans-serif;
  margin: 0;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-right: 400px;
  background-color: #fff;
}

#legend {
  position: absolute;
  height: 30px;
  border: 1px solid #e7e7e7;
  left: 20px;
  bottom: 20px;
  background-color: #fff;
  z-index: 150;
}


.legendLabel {
  float: left;
  font-weight: bold;
  font-size: 14px;
  margin: 6px 20px 0px 10px;
}

.legendSvg {
  width: 30px;
  height: 30px;
  float: left;
}

#controls {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 400px;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  padding: 20px 20px 0;
  z-index: 150;
}

#renderers {
  background: #e7e7e7;
  text-align: center;
  padding: 8px;
  margin-bottom: 20px;
}

.select-renderer {
  color: blue;
  cursor: pointer;
}

.listItem {
  margin-bottom: 20px;
  color: #333;
  cursor: default;
}

.listItem:hover {
  font-weight: bold;
}
