
#canvas {
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* pattern style 1 custom values -- temporary / test code */

.style1 .line {
    stroke: blue;
    stroke-width: 15px;
}
