/* default style settings; applied to all pattern styles unless overriden */

.line {
    stroke: black;
    stroke-width: 15px;
    fill: none;
}

.stop-circle {
    fill: white;
}

.stop-label {
    color: black;
    font-family: sans-serif;
    font-size: 10px;
}

.overlay {
    fill: none;
    pointer-events: all;
}
