body {
  margin: 20px 20px;
}

#canvas {
  position: relative;
  height: 500px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-right: 400px;
  background-color: #fff;
}

#legend {
  position: absolute;
  height: 30px;
  border: 2px solid #888;
  left: 20px;
  bottom: 20px;
  width: 100px;
  background-color: #eee;
}


#list {
  float: right;
  height: 460px;
  width: 340px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  padding: 20px 20px;
}

.listItem {
  font-family: sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  color: #888;
  cursor: default;
}

.listItem:hover {
  font-weight: bold;
}